<!DOCTYPE HTML>
<html>
	<head>
		<title>{{ page.title }}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="icon" href="favicon.ico" />
		<link rel="stylesheet" href="css/bootstrap.min.css">

	</head>
	<style>
		html, body {
	    	margin: 0;
	    	padding: 0;
			min-width: 1000px;
		}
	    body {
			background-color: #f0c356;
			background-image:  url("images/bg.jpg"), url("images/min.png");
			background-repeat: no-repeat, repeat-y;
			background-size: 100% auto;
			background-position: 50% 0px;
			line-height: 1em;
	    }

		.login {
			width: 17%;
			margin: 0 auto 0;
		}
		.login-inner {
			font-family: "Trebuchet MS";
			text-align: center;
			padding: 65% 15px 0;
			text-align: center;
		}

		.login-inner input {
			display: block;
			padding: 0;
			margin: 0 0 0.3rem 0;
			width: 100%;
			height: 1.5rem;
			line-height: 1.5rem;
		}
		.login-inner input[type=text],
		.login-inner input[type=password] {
			border-radius: 15px;
			border: 0;
			text-align: center;
			background: #d5d5d5 url('images/ico-login.png') no-repeat 0 50%;
			background-size: 11px auto;
			background-position: 11px 50%;
		}
		.login-inner input[type=password] {
			background-image: url('images/ico-pass.png');
			background-size: 15px auto;
			background-position: 9px 50%;
		}

		.login-inner input[type=submit] {
			background-image: linear-gradient(to bottom, #faea4e 0%, #eccf45 51%, #cfa62d 100%);
			border-radius: 15px;
			border: 0;
			cursor: pointer;
		}

		.test {
			position: fixed;
			left: 39%;
			bottom: 3rem;
			width: 20%;
			background: rgba(255, 255, 255, 1);
			border-radius: 15px;
			padding: 10px;
			text-align: center;
			font-family: "Trebuchet MS";
			box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
			max-width: 300px;
			animation: gradient 2s ease infinite;
			color: #000;
			font-weight: bold;
			text-decoration: none;

		}

		.temp {
			position: fixed;
			left: 50%;
			bottom: 7rem;
			width: 70%;
			background: #fff;
			border-radius: 30px;
			padding: 10px;
			text-align: center;
			font-family: "Trebuchet MS";
			margin: 0 0 0 -350px;
			background: rgba(255, 255, 255, 0.75);
			max-width: 700px;
		}



		@keyframes gradient {
			0% {
				box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
			}
			50% {
				box-shadow: 0px 0px 20px rgba(255,255,255,1);
			}
			100% {
				box-shadow: 5px 5px 10px rgba(0,0,0,0.1);
			}
		}


		@media (min-width: 1300px) {
			body {
				min-height: 700px;
			}
			.login-inner {
				padding-top: 69%;
			}
			.login-inner input {
				margin: 0 0 0.3rem 0;
				height: 2rem;
				line-height: 2rem;
			}
			.test {
				left: 40%;
			}
			.left {
				left: 48%;
			}
		}


		@media (min-width: 1600px) {
			.login-inner {
				padding-top: 72%;
			}
			.login-inner input {
				margin: 0 0 0.4rem 0;
				height: 2rem;
				line-height: 2rem;
			}
		}

		@media (max-width: 900px) {
			html, body {
				min-width: auto;
			}
		    body {
				background-size: 125% auto;
				background-position: 50% 0px;
		    }
			.login {
				width: 20%;
			}
			.login-inner {
				padding-top: 70%;
			}
			.temp {
				left: 17%;
				bottom: 4rem;
				width: 65%;
				margin: 0;
				font-size: 0.7em;
				padding: 5px 10px;
			}
			.test {
				bottom: 2rem;
				font-size: 0.7em;
				padding: 7px 7px;
				width: 25%;
				left: 37%;
			}
		}

		@media (max-width: 600px) {
			html, body {
				min-width: auto;
			}
		    body {
				background-size: 290% auto;
				background-position: 50% 0px;
		    }
			.login {
				width: 50%;
			}
			.login-inner {
				padding-top: 70%;
			}
			.temp {
				left: 5%;
				bottom: 5rem;
				width: 85%;
				margin: 0;
			}
			.test {
				bottom: 2rem;
				font-size: 0.8em;
				padding: 9px 8px;
				width: 60%;
				left: 20%;
			}
		}	

	</style>
	<body>
		<div class="main-area">
			<div class="login">
				<div class="login-inner">
					<form type="GET" action="https://cambridgegroup.uz/login">
						<input type="text" name="phone" />
						<input type="password" name="pass" />
						<input type="hidden" name="auth" value="1" />
						<input type="submit" name="login" value="Login" />
					</form>
				</div>
			</div>

			<a class="test" href="https://cambridge-lc.uz/quiz">
				Пройти тест и записаться на уроки
			</a>

			<div class="temp">
				Платформа временно доступна только для учеников Cambridge LC. <br>
				<strong>+99871 2001115</strong>
			</div>
		</div>

		<div class="modal fade" id="staticBackdrop" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="false">
		  <div class="modal-dialog  modal-xl modal-dialog-scrollable modal-dialog-centered" role="document">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="staticBackdropLabel">Публичная оферта</h5>
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
		          <span aria-hidden="true">&times;</span>
		        </button>
		      </div>
		      <div class="modal-body">
		        <div class="modal-body-inner">

		      		<p><strong>ПУБЛИЧНАЯ ОФЕРТА НА ПРЕДОСТАВЛЕНИЕ ОБРАЗОВАТЕЛЬНЫХ УСЛУГ ПО АНГЛИЙСКОМУ ЯЗЫКУ</strong></p>
<p><strong>Термины и определения.</strong></p>
<p><strong>Публичная оферта</strong>&nbsp;- это предложение заключить договор. Сам договор заключается путем безоговорочного принятия оферты (ее акцепта).</p>
<p><strong>Акцепт Оферты</strong>&nbsp;&ndash; полное и безоговорочное принятие Оферты путем осуществления действий, указанных в п.1.3. Оферты. Акцепт Оферты создает Договор.</p>
<p></p>
<p><strong>Исполнитель - </strong>юридическое лицо, оказывающие образовательные услуги на основании лицензии № MO320, выданной 26/04/2019г.</p>
<p><strong>Ученик/Заказчик</strong>&nbsp;- физическое лицо, конечный потребитель Услуг, которое изучает английский язык на Курсах Английского языка, организованных Исполнителем, а также принявшее условия настоящего договора (акцептовавшее настоящую оферту).</p>
<p><strong>Учебный центр ООО &laquo;CAMBRIDGE GROUP&raquo;</strong> - специальное учебное помещение, оснащенное необходимыми для образовательного процесса оборудованием, материалами, литературой и другими материально-техническими ресурсами, в котором непосредственно проходят занятия.</p>
<ol>
<li><strong> Общие положения.</strong>
<ul>
<li>В соответствии со<strong>ст.367 Гражданского кодекса Республики Узбекистан</strong>&nbsp;данный документ является официальным публичным предложением (офертой) ООО &laquo;CAMBRIDGE GROUP&raquo; (далее по тексту &ndash; Учебный центр) любому физическому лицу (далее по тексту &ndash; Ученик/Заказчик) заключить этот Договор на определенных в нем условиях.</li>
<li>Настоящая Оферта является официальным документом и продемонстрирована в филиалах учебного центра по адресам:</li>
</ul>
</li>
</ol>
<p>Город Ташкент, Чиланзарский р-н, м-в Олмазор, 6/7 (ф-л Дружба);</p>
<p>Город Ташкент, Мирзо Улугбекский р-н, м-в Ирригатор, д.3 (ф-л Дархан);</p>
<p>Город Ташкент, Юнусабадский р-н, Амир Темур 99А (ф-л Бадамзар);</p>
<p>Город Ташкент, Шайхантахурский р-н, Беруний 35А (ф-л Тинчлик);</p>
<p>Город Ташкент, Яккасарайский р-н, Мирабад,2 (ф-л Ойбек); а также опубликован в глобальной компьютерной сети Internet по адресу:&nbsp;<strong>cambridgeonline</strong><strong>.</strong><strong>uz</strong></p>
<ul>
<li>Полным и безоговорочным Акцептом настоящей Оферты являются любые действия по выполнению указанных в данной Оферте условий, в том числеоплата услуг; регистрация в качестве Ученика на сайте <strong>cambridgeonline</strong><strong>.</strong><strong>uz</strong> Учебного центра; предоставление Ученика/Заказчика своих персональных данных Учебному центру (Ф.И.О., дата рождения, номер телефона); подтверждение клиента об ознакомлении условием оферты в персональном кабинете Ученика на сайте&nbsp;<strong>cambridgeonline</strong><strong>.</strong><strong>uz</strong>; а также иные действия, подтверждающие намерения физического лица пользоваться услугами Учебного центра.</li>
<li>В соответствии с частью ст. 369 и 370 Гражданского кодекса Республики Узбекистан, в случае принятия изложенных ниже условий и оплаты соответствующей суммы лицо, производящее Акцепт настоящей Оферты, становится Стороной настоящей Оферты, именуемой в дальнейшем Ученик/Заказчик<strong>(в соответствии с частью четвертой статьи 370 Гражданского Кодекса РУз акцепт Оферты равносилен заключению договора на условиях, изложенных в Оферте)</strong>. Учебный центр и Ученик/Заказчик также именуются в настоящей Оферте совместно Стороны, а по отдельности &ndash; Сторона.</li>
</ul>
<ol start="2">
<li><strong> Предмет договора.</strong></li>
</ol>
<ul>
<li>Ученик/Заказчик поручает, а Учебный центр/Исполнитель принимает на себя обязательства по оказанию образовательных услуг в учебном центре ООО &laquo;CAMBRIDGEGROUP&raquo; по программе: Курс Английского языка (далее &laquo;Услуги&raquo;).</li>
<li>Занятия будут проводиться: в группе до 15 человек/индивидуально по 90 минут.</li>
<li>В случае если пользователем услуги является несовершеннолетнее лицо в возрасте от четырнадцати до восемнадцати лет, Заказчиком может являться Родитель (усыновитель, попечитель, иное физическое лицо, являющееся законным представителем несовершеннолетнего).</li>
<li>Услуги оказываются в соответствии с &laquo;Правилами обучения на курсах английского языка&raquo;, являющихся неотъемлемой частью настоящей Публичной Оферты.</li>
<li>Учебный центр оказывает услуги в соответствии с действующим прейскурантом, опубликованным на интернет-сайте Учебного центра <strong>cambridgeonline</strong><strong>.</strong><strong>uz</strong>, а Ученик/Заказчик производит оплату за услуги в соответствии с условиями настоящей Публичной оферты.</li>
</ul>
<ol start="3">
<li><strong> Права и обязанности сторон.</strong></li>
</ol>
<p><strong>3.1 Права и обязанности Учебного центра.</strong></p>
<p>3.1.1 Учебный центр обязуется организовать и обеспечить надлежащее исполнение услуг, предусмотренных в п. 2.1 настоящей Публичной Оферты</p>
<p>3.1.2 Учебный центр обязуется по окончании уровня протестировать Ученика/Заказчика и на основании результатов тестирования, перевести его на следующий уровень обучения в соответствии с &laquo;Правилами обучения на курсах английского языка&raquo;/оставить на текущем уровне/отказаться от дальнейшего обучения и прекратить действие настоящей Оферты в одностороннем порядке.</p>
<p>3.1.3 Учебный центр имеет право ограничить слушателя к доступу к занятиям и персональному кабинету в случае несвоевременной оплаты за обучение.</p>
<p>3.1.4 Учебный центр имеет право на замену преподавателя в течение всего периода обучения без согласия Слушателя.</p>
<p>3.1.5 Учебный центр имеет право изменить место/форму проведения занятий и/или График занятий в одностороннем порядке.</p>
<p>3.1.6 Учебный центр имеет право использовать сертификаты о сдаче экзамена IELTS Ученика, как рекламный материал только по согласованию с Заказчиком.</p>
<p>3.1.7 Учебный центр вправе самостоятельно осуществлять процесс обучения, выбирать системы оценок, формы, порядок и периодичность проверки знаний Ученика.</p>
<p>3.1.8 Учебный центр имеет право исключить Ученика/Заказчика из занятий/закрыть доступ в персональный кабинет, если Ученик/Заказчик в период действия настоящей Оферты допускали нарушения, законодательства и настоящей Оферты.</p>
<p>3.1.9 Учебный центр вправе изменить или дополнить настоящие Условия Публичной Оферты в любой момент в одностороннем порядке.</p>
<p></p>
<p><strong>3.2 Права и обязанности Ученика/Заказчика.</strong></p>
<p></p>
<p>3.2.1 Ученик обязан до момента заключения Договора и внесения оплаты ознакомиться с содержанием и условиями настоящей оферты, стоимостью услуг Учебного центра, размещенными на сайте <strong>cambridgeonline</strong><strong>.</strong><strong>uz</strong></p>
<p>3.2.2 Ученик/Заказчик обязуется своевременно вносить плату за предоставленные услуги, указанные в п. 2.1 настоящей Публичной Оферты.</p>
<p>3.2.3 Ученик/Заказчик обязуется выполнять самостоятельные задания по подготовке к занятиям, даваемые преподавателем, посещать занятия по утвержденному расписанию, не передавать права на обучение по настоящей Оферте третьим лицам.</p>
<p>3.2.4 Ученик/Заказчик обязуется соблюдать &laquo;Правила обучения на курсах английского языка&raquo; (Приложение №2).</p>
<p>&nbsp;3.2.5 Ученик/Заказчик обязуется не передавать третьим лицам учебно-методические материалы, переданные Учебным центром, и доступ к учебному процессу учебного центра.</p>
<p>3.2.6 Ученик/Заказчик обязуется возмещать ущерб, причиненный имуществу Учебного центра по первому требованию Учебного центра.</p>
<p>3.2.7 Ученик/Заказчик имеет право пользоваться имуществом Учебного центра, необходимых для осуществления образовательного процесса, во время занятий, предусмотренных расписанием.</p>
<p>3.2.8 Ученик/Заказчик имеет право обращаться к сотруднику Учебного центра по вопросам касающегося учебного процесса.</p>
<p>3.2.9 Ученик/Заказчик имеет право получать полную и достоверную информацию об оценке знаний, умений, навыков, а также о критериях этой оценки.</p>
<p></p>
<ol start="4">
<li><strong> Стоимость услуг и порядок расчетов.</strong></li>
</ol>
<ul>
<li>Цена Услуг указывается в прайс-листе в сумах РУз без учёта НДС (Приложение №1).</li>
<li>Оплата по настоящей оферте осуществляется Учеником/Заказчиком после первого пробного занятия по результатам определения уровня Заказчика/Ученика в следующем порядке: за первый месяц обучения предоплата в размере 100% ежемесячной суммы должна быть произведена не позднее 3 дней со дня начала курса. В дальнейшем, последующие оплаты производятся в соответствующее число месяца, в котором начались занятия.</li>
<li>Если оплата не осуществляется своевременно Учебный центр/Исполнитель вправе не допускать Ученика/Заказчика к занятиям и закрыть доступ к персональному кабинету.</li>
<li>За пропущенные Заказчиком/Учеником занятия оплата не возвращается, учебное время не компенсируется.</li>
<li>При условии отказа Ученика/Заказчика в письменной форме от Услуг до даты начала курсов, Заказчику возвращается произведенная за Услуги оплата. Произведенная за Услуги оплата не возвращается, если Заказчик/Ученик посетил, хотя бы одно занятие.</li>
<li>Оплата за Услуги может производиться в наличной и безналичной (с банковской карты, денежные переводы) форме. При оплате в безналичной форме соответствующие документы, подтверждающие оплату, должны быть предоставлены Заказчиком/Учеником в течение недели с даты платежа.</li>
<li>Учебные материалы включены в стоимость курса.</li>
<li>Если занятия не состоялись по вине Учебного центра/Исполнителя, то Исполнитель вправе произвести перерасчёт стоимости Услуг за тот месяц, в котором должны были быть проведены, но не состоялись занятия и зачесть оплату за не проведённые занятия в оплату услуг за следующий месяц.</li>
</ul>
<ol start="5">
<li><strong> Прочие условия. </strong></li>
</ol>
<p>&nbsp;5.1. Учебный центр не несёт ответственность перед Учеником:</p>
<ul>
<li>за не достижение последним результатов курса (Ученик/Заказчик не набрал количество баллов по итогам экзамена по программе Учебного центра, необходимое для перехода на следующий уровень обучения, др.) если не достижение результатов произошло по вине Ученика/Заказчика (не посещение занятий, невыполнение домашних заданий, невыполнение Программы курса и др.);</li>
<li>если невозможность выполнения/ненадлежащее выполнение обязательств, произошли не по вине Учебного центра;</li>
<li>если невозможность выполнения/ненадлежащее выполнение обязательств, произошли по вине Ученика/Заказчика;</li>
<li>в случае наступления форс-мажорных обстоятельств;</li>
<li>в иных случаях, предусмотренных законодательством РУз.</li>
</ul>
<ul>
<li>Учебный центр вправе отказаться от предоставления услуг по настоящей Публичной Оферте, если Ученик/Заказчик:
<ul>
<li>неоднократно нарушил обязательства, предусмотренные настоящим офертой, что явно затрудняет исполнение обязательств Учебным центром и нарушает права и законные интересы других обучающихся и работников Учебного центра;</li>
<li>нарушает сроки произведения оплаты, указанные в настоящей Публичной Оферте;</li>
<li>своим поведением систематически нарушает права и законные интересы других обучающихся и работников Учебного центра, не посещает занятия или препятствует нормальному осуществлению учебного процесса;</li>
<li>Договор в данном случае будет считаться расторгнутым со дня, указанного Исполнителем в уведомлении об отказе от исполнения Договора любым способом, позволяющим зафиксировать факт отправки такого уведомления.</li>
</ul>
</li>
</ul>
<ul>
<li>В течение трех дней со дня первой оплаты Ученик/Заказчик должен отправить свои персональные данные (Ф.И.О., дата рождения, номер телефона) и отсканированный документ, подтверждающий его/её личность (Паспорт, Свидетельство о рождении) Учебному центру по электронной почте <strong>uz.</strong></li>
<li>Учебный центр не несёт ответственность за содержание и достоверность информации, предоставленной Заказчиком при регистрации и в электронном письме.</li>
<li>Ученик/Заказчик несёт ответственность за достоверность предоставленной информации при регистрации в электронном письме.</li>
<li>Ученик/Заказчик гарантирует, что все условия настоящей Публичной Оферты ему/ей понятны, и Ученик/Заказчик принимает условия без оговорок и в полном объеме.</li>
<li>Стороны обязуются немедленно информировать друг друга о затруднениях, препятствующих выполнению условий настоящей Публичной Оферты, для своевременного принятия необходимых мер.</li>
<li>К Договору прилагаются: Приложение №1 (цена услуг).</li>
</ul>
<p> Приложение №2 &laquo;Правила обучения на курсах английского языка&raquo;.</p>
<ol start="6">
<li><strong>Форс-Мажор</strong>
<ul>
<li>Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если оно явилось следствием обстоятельств непреодолимой силы, таких как: пожары, землетрясение, военные действия и др., если эти обстоятельство непосредственно повлияли на исполнение настоящего Договора.</li>
<li>Сторона, для которой создалась невозможность исполнения обязательств по настоящему Договору, обязана известить о наступлении и прекращении вышеуказанных обстоятельств в десятидневный срок в письменном виде.</li>
</ul>
</li>
</ol>
<ol start="7">
<li><strong> Срок действия договора оферты и порядок сдачи-приемки оказанных услуг.</strong></li>
</ol>
<ul>
<li>Договор вступает в силу с момента его заключения (акцепта оферты) и действует до выполнения Сторонами своих обязательств.</li>
<li>Настоящая Публичная Оферта заключается в вышеуказанных целях, без каких &ndash; либо ограничений в дате.</li>
<li>При расторжении договора оферты, акт о расторжении договора не формируется и не подписывается сторонами.</li>
<li>По завершению предоставленных услуг по обучению Английскому языку, акт об оказанных услугах не формируется и не подписывается. Приемка производится без подписания актов. Услуги считаются оказанными надлежащим образом и принятыми Заказчиком в полном объеме, если в течение десяти календарных дней после окончания последнего оплаченного занятия Учебный центр не получил от Ученика/Заказчика мотивированное письменное возражение по качеству оказанных услуг на электронную почту <strong>uz.</strong></li>
<li>Все споры и разногласия, которые могут возникнуть при исполнении настоящей Публичной Оферты, решаются путем переговоров Сторон. Если не будут устранены путем переговоров, должны окончательно решаться в соответствии с действующим законодательством РУз.</li>
</ul>
<p></p>
<ol start="8">
<li><strong>Реквизиты.</strong></li>
</ol>
<p></p>
<p><strong>ООО &laquo;CAMBRIDGE GROUP&raquo; </strong>- юридическое лицо, оказывающие образовательные услуги на основании лицензии № MO320, выданной 26/04/2019.</p>
<p>Юридический адрес: г.Ташкент, Чиланзарский р-н, м-в Олмазор, 6/7;</p>
<p>Р/С: 2020 8000 7009 3526 9001; В ОПЕРУ ЧАКБ &laquo;ОРИЕНТ ФИНАНС&raquo;; МФО:01071;</p>
<p>ИНН: 305&nbsp;803 863;</p>
<p>ОКЭД: 85590;</p>
<p>Тел.:71 200 11 15</p>
<p><strong>Директор: Пулатов Ж.Х.</strong></p>
<p><strong> Приложение №1.</strong></p>
<p></p>
<table class="table table-bordered">
<tbody>
<tr>
<td width="165">
<p>Наименование Курса</p>
</td>
<td width="165">
<p>Количество учащихся</p>
</td>
<td width="165">
<p>Стоимость обучения за один месяц</p>
</td>
</tr>
<tr>
<td width="165">
<p>General English</p>
</td>
<td width="165">
<p>13-15</p>
</td>
<td width="165">
<p>540&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>IELTS</p>
</td>
<td width="165">
<p>13-15</p>
</td>
<td width="165">
<p>600&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>Individual</p>
</td>
<td width="165">
<p>1</p>
</td>
<td width="165">
<p>1 300&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>General English Online</p>
</td>
<td width="165">
<p>12</p>
</td>
<td width="165">
<p>440&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>IELTS Online</p>
</td>
<td width="165">
<p>12</p>
</td>
<td width="165">
<p>490&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>Individual Online</p>
</td>
<td width="165">
<p>1</p>
</td>
<td width="165">
<p>1 000&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>General English Rocket</p>
</td>
<td width="165">
<p>13-15</p>
</td>
<td width="165">
<p>1 080&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>IELTS Rocket</p>
</td>
<td width="165">
<p>13-15</p>
</td>
<td width="165">
<p>1 200&nbsp;000 сум</p>
</td>
</tr>
<tr>
<td width="165">
<p>Individual Rocket</p>
</td>
<td width="165">
<p>1</p>
</td>
<td width="165">
<p>2 600&nbsp;000 сум</p>
</td>
</tr>
</tbody>
</table>
<p><strong>Приложение №2.</strong></p>
<p></p>
<p><strong>Правила обучения</strong></p>
<p><strong>на курсах английского языка </strong></p>
<p><strong>ООО &laquo;CAMBRIDGE GROUP&raquo;</strong></p>
<p><strong>Определение уровня: </strong>Для определения уровня знания английского языка, Заказчик/Ученик обязан сдать тесты, составленные Учебным центром/Исполнителем. По результатам тестовых испытаний Исполнитель определяет уровень знаний английского языка и распределяет Заказчиков/Учеников по соответствующим группам с соответствующим уровнем обучения.</p>
<p><strong>Начало обучения: </strong>Обучение Заказчика/Ученика начинается после укомплектования учебной группы. Укомплектованной группой считается Группа, в которой не менее 15человек.</p>
<p>Заказчик/Ученик не имеет право передавать оплаченные и неиспользованные часы занятий другому лицу.</p>
<p><strong>Прохождение на следующий уровень:</strong> По окончании каждого уровня Заказчик/Ученик обязан сдать итоговый экзамен по программе Исполнителя, организованный Исполнителем и набрать свыше 70 баллов. Если Заказчик/Ученик не набирает необходимое количество баллов, Заказчик/Ученик может за свой счет пройти обучение с помощью дополнительных занятий и попробовать пересдать экзамен повторно. Если ученик не приходит на экзамен в назначенный день по неуважительной причине, Исполнитель вправе по своему усмотрению провести для него повторный экзамен или отказать в проведении экзамена.</p>
<p><strong>Cashback</strong><strong>(&laquo;возврат части потраченных денег&raquo;</strong><strong>)</strong></p>
<p>Для получения Cashback ученик должен сдать IELTS не менее 7.0 баллов. Cashback вычисляется от суммы ежемесячной оплаты за курс, следующим образом:</p>
<p>7.0-20%, 7.5-35%, 8.0-50%, 8.5-65%, 9.0-80%.</p>
<p>Cashback действует при условии длительности обучения не менее 1 месяца на курсах IELTS/IELTS Online и при условии предоставления Исполнителю оригинала сертификата экзамена IELTS о получении не менее 7.0 баллов - в течение 1 месяца после окончания курса у Исполнителя.</p>
<p><strong>Смена Групп/преподавателя: </strong>Заказчик/Ученик без согласования с ответственным за процесс обучения лицом Исполнителя не имеют права менять свои группы. Если уровень группы не соответствует знаниям Заказчика/ Ученика или предложенное время не подходит ему, то в этом случае смена группы производится с помощью администрации Исполнителя.</p>
<p>Если качество Услуг в той группе, в которой состоит ученик, ему не подходит, Заказчик/Ученик, имеет право по согласованию с ответственным лицом Исполнителя, перейти в другую группу/попросить замену преподавателя сразу после первого занятия. После второго и следующих занятий смена группы/преподавателя не допускается.</p>
<p><strong>Связь с родителями: </strong>Каждый несовершеннолетний Ученик обязан предоставлять информацию о своих родителях или своих опекунах. Любые вопросы, относящиеся к посещению занятий, оплаты и сдачи экзаменов будут отправляться Исполнителем родителям несовершеннолетних учеников.</p>
<p><strong>Возрастные ограничения: </strong>Минимальный возраст, с которого Исполнитель оказывает Услуги &ndash; двенадцать лет.</p>
<p><strong>Литература: </strong>После оплаты курса Исполнитель предоставляет каждому Заказчику/Ученику все необходимые учебные материалы, относящиеся к каждому уровню.</p>
<p><strong>Поведение во время занятий: </strong></p>
<p><strong>-</strong>Посещение Заказчиком/Учеником занятия в состоянии алкогольного, наркотического или токсического опьянения запрещается.</p>
<p>- Ученику/Заказчику запрещается отвлекаться и отвлекать других учащихся в течении занятий.</p>
				</div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
		        <button type="button" class="btn btn-primary" disabled="disabled">Принимаю</button>
		      </div>
		    </div>
		  </div>
		</div>

		<script src="js/jquery-3.4.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		{% if page.agreement %}
		<script type="text/javascript">
			$('#staticBackdrop').modal('show');
			$('#staticBackdrop .modal-body').scroll(function() {
				   console.log(
				   		$('#staticBackdrop .modal-body').scrollTop(),
				   		$('#staticBackdrop .modal-body-inner').height()

				   	);
			});
		</script>
		{% endif %}
	</body>

</html>
